name: Lint and tests

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:

  lint:
    runs-on: "ubuntu-latest"

    steps:
    - uses: actions/checkout@v5

    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
        version: "0.8.19"

    - name: Install the project
      run: uv sync --locked --dev

    - name: Run lint
      run: make lint
